*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #000000;
}
nav{
  position: fixed;
  background: #000000;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 620px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.menu .logo img{
  height: 60px;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #000000;
  color: rgb(166,16,30);
    
}

.banner{
    background: #000000;
    width: 100%;
    
    
}
.banner img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: top;
        }

        .btn {
            display: inline-block;
            padding: 0.5em 1.5em;
            text-decoration: none;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
            margin-top: 1em;
            text-transform: uppercase;
            font-weight: small;
          }
          
          .btn-primary {
            color: #fff;
            background: #16a083;
          }
          
          .btn-primary:hover {
            background: #117964;
            transition: background 0.3s ease-in-out;
          }

.banner h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1;
    text-align: center;
    padding-top: 50px;
}        
        
.banner p{
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    padding-top: 70px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 30px;
}
     
.team{
    background: #000000;
    width: 100%;
    height: 65%;
    padding: 20px;
}   

.team h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1;
    text-align: center;
    padding-top: 25px;
}

.team .b1{ 
    width: 29%; 
    height: 300px; 
    background-image: url('hulk.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    float: left; 
    margin: 28px;
}
.team .b2{ 
    width: 29%; 
    height: 300px; 
    background-image: url('cap.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    float: left; 
    margin: 28px; 
        }       
.team .b3{ 
    width: 29%; 
    height: 300px; 
    background-image: url('tho.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    float: left; 
    margin: 28px;
    }
    
.a{ 
    background-color: black; 
    color: rgb(166,16,30); 
    text-align: center; 
    padding: 11px; 
    opacity: 0.9; 
    margin-top: 260px;
}
.b{
    background-color: black; 
    color: rgb(166,16,30); 
    text-align: center; 
    padding: 11px; 
    opacity: 0.9; 
    margin-top: 260px; 
} 

.c{
    background-color: black; 
    color: rgb(166,16,30); 
    text-align: center; 
    padding: 11px; 
    opacity: 0.9; 
    margin-top: 260px; 
} 

.about{
    background: rgb(166,16,30);
    width: 100%;
    padding: 10px;
}
.about h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1;
    text-align: left;
    padding-top: 30px;
    padding-left: 130px;
}

.about p{
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 30px;
}

.video-container {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    background-color:black;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  margin: 0 auto;
  z-index: -1;
}

.contact{
    width: 50%;
    float: left;
    height: 30%;
    padding: 20px;
    
}
.contact h1{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1;
    padding-top: 30px;
    padding-left: 130px;
    
}
.contact p{
    color: rgb(240,84,146);
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 130px;
    padding-bottom: 30px;
}
.contact span{
    color: rgb(240,84,146);
    font-family: sans-serif;
    text-align: justify;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 130px;
    padding-bottom: 30px;
}

.contact h3{
    color: white;
    font-family: sans-serif;
    letter-spacing: 1;
    padding-top: 10px;
    padding-left: 50px;    
}

.map{
    width: 50%;
    float: left;
    align-content: center;
    padding: 20px;
}

.map iframe{
    height: 30%;
    width: 70%;

}

.map h1{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1;
    padding-top: 100px;
    padding-left: 130px;
    padding-bottom: 10px;
}